.mat-card {
    width: 30%;
    margin: auto;
    padding-top: 40px;
    background-color: #e6e6e6;
}

.mat-card-title {
    font-size: 26px;
    font-weight: 500;
}

.mat-form-field {
    display: block;
    width: 50%;
    margin: auto
}

.mat-card-actions {
    text-align: center;
}