
<div >

    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    
      <mat-card class="login-card">
        <mat-card-header class="centrado">
          <mat-card-title class="titulo">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Insert your Username" formControlName="username"/>
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="insert your Password" formControlName="password" type="password"/>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
        </mat-card-content>
        <mat-card-actions class="centrado">
          <button class="btnlogin" [disabled]= "loginForm.invalid" mat-stroked-button color="warn" type="submit">Login</button>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <button  class="btnregister" mat-stroked-button color="warn" type="submit" (click)="irRegistro()">Sign In</button>
        </mat-card-actions>
      </mat-card>
    
    </form>
    </div>