.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar {
    background-color: #803B80;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    margin: auto;
}

#content {
    height: calc(100vh - 130px);
    padding: 16px;
    overflow: auto;
}

#footer {
    height: 30px;
    padding: 0 16px;
    line-height: 30px;
}

.spacer {
    flex: 1 1 auto;
}

span {
    color: #FEDECE;
    margin-left: 80px;
}