.mat-card {
    max-width: 250px;
    background-color: #ffeee4;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #803B80;
}

.animal-header-image {
    background-size: cover;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.mat-card-content {
    color: #861186;
    font-weight: 400;
}

.mat-card-content span {
    font-weight: 500;
    color: #803B80;
}

.mat-card-actions {
    display: flex;
    justify-content: space-between;
}