<div class="containerCards">
    <mat-card class="animal-card" *ngFor="let item of listaAnimalesUser; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="animal-header-image"></div>
            <mat-card-title>{{item.nombre}}</mat-card-title>
            <mat-card-subtitle i18n>Raza: {{item.raza}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{item.imagen}} alt="Photo of animal">
        <mat-card-content>
            <p i18n>Descripcion: {{item.descripcion}}</p>
            <p i18n>Tamaño: {{item.tamanio}}</p>
            <p i18n>Vacunas: {{item.vacunas}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button i18n mat-button (click)="addBloqueos(i)"><mat-icon>block</mat-icon></button>
            <!-- <button mat-button (click)="addFavoritos({{item._id}})"><mat-icon>favorite_border</mat-icon></button> -->
        </mat-card-actions>
    </mat-card>
</div>