<div class="containerCards">
    <mat-card class="animal-card" *ngFor="let item of listaAnimalesUser; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="animal-header-image"></div>
            <mat-card-title>{{item.nombre}}</mat-card-title>
            <mat-card-subtitle i18n>Raza: {{item.raza}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{item.imagen}} alt="Photo of animal">
        <mat-card-content>
            <!-- <p> <span>Descripcion</span>: {{item.descripcion}}</p> -->
            <p> <span i18n>Tamaño:</span> {{item.tamanio}}</p>
            <p> <span i18n>Vacunas:</span> {{item.vacunas}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button i18n mat-button color="warn" (click)="addBloqueos(i)"><mat-icon>Favorito</mat-icon></button>
            <button i18n mat-button color="link" (click)="addBloqueos(i)"><mat-icon>No interesado</mat-icon></button>
            <!-- <button mat-button 1"><mat-icon>favorite_border</mat-icon></button> -->
        </mat-card-actions>
    </mat-card>
</div>