.mat-card {
    max-width: 250px;
    background-color: #ff97d9;
    margin: 10px;
    overflow: hidden;
}

.animal-header-image {
    background-size: cover;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4f4f4;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.mat-card-content {
    color: white;
    font-weight: 400;
}

.mat-card-content span {
    font-weight: 500;
    color: black;
}

.mat-card-actions {
    display: flex;
    justify-content: space-between;
}