<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>casino</mat-icon> Panel Administración</span>
     <div class="spacer"></div>
         <!--Menu navegacion con routerlink que es la ruta que esta en el app module -->
     <a mat-button routerLink="/users"><mat-icon>camera_front</mat-icon>Usuarios</a>
     <a mat-button routerLink="/animal"><mat-icon>camera_front</mat-icon>Animales</a>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        <p>Animales</p>
        <button mat-flat-button color="primary" routerLink="nuevo"> Crear Animal </button>
    </mat-card-title>
    <mat-card-content>
        <router-outlet>
        </router-outlet>
    </mat-card-content>
</mat-card>