<mat-toolbar color="primary" class="mat-elevation-z8">
    <span> Panel Administración</span>
     <div class="spacer"></div>
         <!--Menu navegacion con routerlink que es la ruta que esta en el app module -->
         <a mat-button routerLink="/public"><mat-icon>pets</mat-icon>Listado Animales</a>
     <a mat-button routerLink="/users"><mat-icon>supervised_user_circle</mat-icon>Usuarios</a>
     <a mat-button routerLink="/animal"><mat-icon>list</mat-icon>Animales</a>
     <button style="margin: 10px," mat-raised-button color="ascent" (click)="logoutUser()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        <p>Animales</p>
        <button mat-flat-button color="primary" routerLink="nuevo"> Crear Animal </button>
    </mat-card-title>
    <mat-card-content>
        <router-outlet>
        </router-outlet>
    </mat-card-content>
</mat-card>